div.cookieconsent {
  position: fixed;
  display: none;
  bottom: 5px;
  right: 240px;
  width: 300px;
  z-index: 99999;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 10pt;
}
div.cookieconsent .cookieconsentbuttons {
  text-align: center;
}
@media (max-width: 600px) {
  div.cookieconsent {
    right: auto;
    left: 10px;
  }
}
div.cookieconsent button {
  color: black;
}
div.ognannouncement-container.active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}
div.ognannouncement-container.passive {
  display: none;
  visibility: collapse;
}
div.ognannouncement.passive {
  display: none;
  visibility: collapse;
}
div.ognannouncement.active {
  max-width: 800px;
  display: inline-block;
  visibility: visible;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 120px;
  top: 245px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  margin: 0 auto;
  width: auto;
  z-index: 99999;
}
@media (max-width: 600px) {
  div.ognannouncement.active {
    width: 90%;
    top: 90px;
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  div.ognannouncement.active {
    max-width: 300px;
    top: 210px;
  }
}
div.ognannouncement div.buttons {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #dddddd;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
div.ognannouncement div.buttons button {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 80px;
  display: inline-block;
}
div.ognannouncement > div.content {
  overflow: auto;
  top: 28px;
  bottom: 35px;
  position: absolute;
  width: 100%;
  max-width: 100%;
}
div.ognannouncement > div.content > p {
  padding: 5px;
}
div.ognannouncement > div.title {
  background: #ddbbbb;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  height: 28px;
  width: 100%;
  top: 0;
  position: absolute;
}
div.ognannouncement > div.title:empty {
  margin: 0;
  display: none;
}
ul.ognajaxnav > li > a {
  font-weight: bold;
}
body ul.ognajaxnav li.page_item.current_page > a {
  font-weight: bold;
  font-style: italic;
}
div.ogn-childpages-cols {
  column-width: 200pt;
}
div.ogn-childpages {
  background: #f1f3f6;
  border: 1px solid #c8c9ca;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  text-align: left;
  list-style: none;
  font-family: sans-serif !important;
  padding: 10px;
  font-size: 0.8em;
  max-width: 280px;
}
div.ogn-childpages-blend ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}
/* This one in particular is used for the three rectangle ads */
div.flexbox.mainpage-extra {
  clear: left;
}
div.shopify-buybutton {
  margin-bottom: 10px;
}
main #toc_container {
  width: 100% !important;
  float: none  !important;
  display: block !important;
}
article #toc_container > ul {
  column-width: 200px;
}
main #archivesFilterAccordion .card-body {
  padding-left: 18pt;
  padding-right: 18pt;
  font-size: 14px;
}
main #archivesFilterAccordion .card-body div.filter {
  display: inline;
  margin-left: 2pt;
  margin-right: 2pt;
}
main #archivesFilterAccordion .card-body div.filter select.ogn-filter {
  margin-left: 2pt;
}
/*# sourceMappingURL=ogncustom.css.map */